li{
	display: inline-block;
}
a{
	text-decoration: none;
}
footer{
	background-color: #003366;
	margin-top: 5%;

}
.fondo{
	background-image: url("../img/large.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background: rgb(0, 191, 255, 2);
	padding-top: 15%;

}
.linea{
	display: list-item; 
	padding: 2%;
}
.img{
	
	opacity: 0.6;
}
.border{
	border: 2px solid white;
}
.opa{
	background-color: blue;
	opacity: 0.5;
	background-position: fixed;

}
.colorBlue{
	color: blue;
}
.colorWhite{
	color: white;
}
.margin{
	margin-top: 10%;
}
.marg{
	margin: 7%;
}

.radius{
	border-radius: 100%;
	box-shadow: -1px 2px 5px gray;
	height:  50%;
}
/*Hace la imagen gris*/
.bw {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
.bw:hover {
  -webkit-filter: grayscale(100%);
}
